<div class="py-4 text-center">
    <h2 class="ims-section-title  pb-4">See our Therapies</h2>
    <div class="container">
        <div class="row">
            {% include box-link.html image="therapies/osteopathy.png" text='Osteopathy'
        link='/osteopathy-therapy-information/' %}
            {% include box-link.html
        image="therapies/accupuncture.png" text='Acupuncture and Chinese
        Medicine' link='/Acupuncture-and-chinese-medicine/' %}
            {% include
        box-link.html image="therapies/corpmassage.png" text='Corporate Massage'
        link='/corporate-massage/' %}
            {% include box-link.html
        image="therapies/spa.png" text='Spa Therapy' link='/spa-therapy/' %}
            {%
        include box-link.html image="therapies/bed.png" text='Massage Therapy'
        link='/massage-therapy/' %}
            {% include box-link.html
        image="therapies/beauty.jpg" text='Beauty Therapy'
        link='/Beauty-therapy/' %}
                    {% include box-link.html
        image="therapies/physio-square.jpg" text='Physiotherapy'
        link='/Physiotherapy/' %}                    
        {% include box-link.html
        image="therapies/inject-square.png" text='Injectables'
        link='/Injectables/' %}        
        {% include box-link.html
        image="therapies/yoga.jpeg" text='Yoga & Pilates'
        link='/yoga-pilates-meditation/' %}
        </div>
    </div>
</div>
