<section class='py-5'>
    <h1 class='ims-section-title text-center pb-5'>Learn About Colombian Coffee</h1>
    <div class='container bg-light px-0'>
        <div class='row d-flex align-items-center'>
            <div class='col-lg-5'>
                {% asset 'beans.jpg' class='ccd-story-image' alt='story image' %}
            </div>
            <div class='col-12 col-lg-7'>
                <h2 class='py-2'>Coffee Beans</h2>
                <p>
                    Do you know how many tastes you can try in a cup of coffee? More than one, I can assure
                    you!
                </p>
                <p>
                    The flavour notes on a cup of coffee are given by many parameters like:
                    bean type (Arabica or Robusta), altitude, soil, coffee cherry processing (dry, wet, both),
                    care given during transportation of the green bean, type of roasting (light, dark), and a
                    skilled barista with the grinding tailored according to the brewing type (French press, pour
                    over, espresso machine), and milk frothing.
                </p>
                <p>
                    <b>About our beans taste notes: </b>
                    Syrupy body, clean orange acidity, chocolate and sweet lingering finish providing a unique
                    well balanced flavour.
                    Curious to trying it out?! Swing by our Bike Coffee and not just feel the taste, but also the
                    aroma and relax listening to Latin songs!
                </p>
            </div>
        </div>
    </div>
    <div class='container bg-light px-0'>
        <div class='row d-flex align-items-center'>
            <div class='col-lg-5'>
                {% asset 'tolima.jpg' class='ccd-story-image' alt='story image' %}
            </div>
            <div class='col-12 col-lg-7'>
                <h2 class='py-2'>Tolima</h2>
                <p>
                    Our coffee comes from Tolima, a city in the centre-west of Colombia.
                </p>
                <p>
                    Soil, temperature, altitude and solar radiation are elements that influences the coffee beans
                    quality. Our farmers look after each one of these factors to provide you the best coffee
                    experience!
                </p>
                <p>
                    When the best coffee beans are produced and honoured with the right roasting, the smell
                    and nice dark colours of the bean are so beautiful that when in comes to grinding it brings a
                    fundamental question...&quot;To bean or not to bean?&quot;.
                </p>
            </div>

        </div>
    </div>
    <div class='container bg-light px-0'>
        <div class='row d-flex align-items-center'>
            <div class='col-lg-5'>
                {% asset 'coffee4.jpg' class='ccd-story-image' alt='story image' %}
            </div>
            <div class='col-12 col-lg-7'>
                <h2 class='py-2'>Coffee taste</h2>
                <p>
                    Coffee is not about sour taste, instead, it is all about flavour! Not just a single one... the
                    combination of flavours that can be found in a cup of coffee are amazing and will depend
                    on the type, origin and quality of coffee.
                </p>
                <p>
                    At the CCD we believe that the coffee experience must be authentic, appreciating every sip
                    of this delicious heavenly juice. Stay tuned to get tips to experience and indulge your
                    senses drinking coffee!
                </p>
            </div>
        </div>
    </div>
    <div class='container bg-light px-0'>
        <div class='row d-flex align-items-center'>
            <div class='col-lg-5'>
                {% asset 'sign2.jpg' class='ccd-story-image' alt='story image' %}
            </div>
            <div class='col-12 col-lg-7'>
                <h2 class='py-2'>Our Coffee</h2>
                <p>
                    Your life changing coffee in a take away cup!
                </p>
                <p>
                    We are passionate for coffee and focus on bringing you the best flavour from Colombia.
                    Coffee isn’t meant to be bitter or even take away bad quality. Extracting the best flavour for
                    your appreciation wherever you want, but if you want to appreciate in our bike shop, we
                    guarantee the sound tracks.
                </p>
            </div>

        </div>
    </div>
    <div class='container bg-light px-0'>
        <div class='row d-flex align-items-center'>
            <div class='col-lg-5'>
                {% asset 'aguapanela.jpg' class='ccd-story-image' alt='story image' %}
            </div>
            <div class='col-12 col-lg-7'>
                <h2 class='py-2'>Água Panela</h2>
                <p>
                    Do you know what Panela is like?!
                </p>
                <p>
                    It’s an unrefined dehydrated cane juice. Very popular in Colombia, you can have it as a hot
                    or iced drink, or even adding some spoons in your regular coffee to get some extra flavour.
                    The taste is all about a malty &amp; caramel and subtle sweetness. Available in the Iced and
                    hot versions.
                </p>
            </div>
        </div>
    </div>
</section>
