<section class="fdb-block pb-5 pt-0">
    <div class="container-fluid p-0 pb-md-5">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113130.3822830368!2d152.6842791704061!3d-27.614466533604066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b96b441e25564d1%3A0x950a8386af0db2a0!2sIpswich+Massage+%26+Herbal+Spa!5e0!3m2!1sen!2sau!4v1526431324115" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-5">
          <h2>Contact Us</h2>
          <p class="text-h3">
            We love to hear from our customers, so please send us any questions or feedback you may have.
          </p>

          <p class="text-h3">
            Or you are new to Ipswich Massage then feel free to get in touch with any enquiries we may be able to help with.
          </p>


          <p class="text-h3 mt-5">
            <strong>Email:</strong> <a href="mailto:{{site.email}}">{{ site.email }}</a>
          </p>
          <p class="text-h3">
            <strong>Phone:</strong> <a href="phone:{{site.phone}}">{{ site.phone }}</a>
          </p>
        </div>

        <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
          <form netlify>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="email" class="form-control" placeholder="Enter email">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <input type="email" class="form-control"  placeholder="Subject">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <textarea class="form-control" name="message" rows="3" placeholder="How can we help?"></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col mx-auto text-center">
                <button type="submit" class="btn btn-primary btn-outline-light">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
