<div class="container text-dark">
    <div class="row">
        <div class="col-12 col-md-2 d-none d-lg-inline">
            <a href="{{site.url}}">
                {% asset 'logo.png' class="img-fluid footer-logo" alt="Colombian Coffee Dealer Logo" %}
            </a>
        </div>
      	<div class="col-12 col-md-3 col-lg-4">
        	<h3 class="h5">{{ site.title }}</h3>
	        <ul class="list-unstyled info-list m-sm-0">
                {% if page.layout == 'home' %}
                      <li><a href="#About Us">About Us</a></li>
                      <li><a href="#Menu">Menu</a></li>
                      <li><a href="/coffeeinfo/">Learn About Colombian Coffee</a></li>
                      <li><a href="#contact">Contact Us</a></li>
                  {% endif %}
                  {% if page.layout != 'home' %}
                      <li><a href="{{ '#about' | prepend: site.url }}">About Us</a></li>
                      <li><a href="{{ '#menu' | prepend: site.url }}">Menu</a></li>
                      <li><a href="{{ '/coffeeinfo/' | prepend: site.url }}">Learn About Colombian Coffee</a></li>
                      <li><a href="{{ '#contact' | prepend: site.url }}">Contact Us</a></li>
                  {% endif %}
	        </ul>
      	</div>
        <div class="col-12 col-md-6 col-lg-6">
                <p class="info-hd">CONTACT DETAILS</p>
                <ul class="list-unstyled info-list">
                    <li class="mb-1">
                        <i class="fa fa-fw fa-phone mr-1"></i>
                        <a href="tel:{{ site.phone_nospaces }}">{{ site.phone }}</a>
                    </li>
                    <li class="mb-1">
                        <i class="fa fa-fw fa-envelope mr-1"></i>
                        <a href="mailto:{{site.email}}">{{ site.email }}</a>
                    </li>
                    <li class="mb-1">
                        <i class="fa fa-fw fa-map-marker mr-1"></i>
                        <a href="{{ site.address-link }}">{{ site.address }}</a>
                    </li>
               </ul>
    	   </div>
	</div>
</div>
