<div class="container text-dark">
    <div class="row">
        <div class="col-12 col-md-2 d-none d-lg-inline">
            <a href="{{site.url}}">
                {% asset 'ipswich-massage-logo-black.png' class="img-fluid footer-logo" alt="Ipswich Massage Logo" %}
            </a>
        </div>
      	<div class="col-12 col-md-3 col-lg-4">
        	<p class="info-hd">{{ site.title }}</p>
	        <ul class="list-unstyled info-list m-sm-0">
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Book</a></li>
                      <li><a href="#">Our Therapies</a></li>
                      <li><a href="#">Contact Us</a></li>
	        </ul>
      	</div>
        <div class="col-12 col-md-6 col-lg-6">
                <p class="info-hd">Contact Details</p>
                <ul class="list-unstyled info-list">
                    <li class="mb-1">
                        <i class="fas fa-fw fa-phone mr-1"></i>
                        <a href="tel:{{ site.phone_nospaces }}">{{ site.phone }}</a>
                    </li>
                    <li class="mb-1">
                        <i class="fas fa-fw fa-envelope mr-1"></i>
                        <a href="mailto:{{site.email}}">{{ site.email }}</a>
                    </li>
                    <li class="mb-1">
                        <i class="fas fa-fw fa-map-marker mr-1"></i>
                        <a href="{{ site.address-link }}">{{ site.address }}</a>
                    </li>
               </ul>
    	   </div>
	</div>
</div>
