<footer class="footer bg-light text-dark">
  <div class="footer-section social-links">
    <div class="container">
      <span class="mr-2">Follow us: </span>
      <a href="{{ site.facebook-link }}">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x fa-inverse text-light"></i>
          <i class="fab fa-facebook fa-stack-1x text-dark"></i>
        </span>
      </a>
      <a href="{{ site.instagram-link }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fas fa-circle fa-stack-2x fa-inverse text-light"></i>
          <i class="fab fa-instagram fa-stack-1x text-dark"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="footer-section">
    {% include footer-main.html %}
  </div>
  <div class="footer-section">
    <div class="container">
      <div class="copyright">
        <h5>Strict Cancellation Policy</h5>
        <p class="small m-0">
          Ipswich Massage is committed to providing all of our patients with
          exceptional care. When a patient cancels without giving enough notice,
          they prevent another patient from being seen. Please call us at (07)
          32816007 by 2:00 p.m. on the day prior to your scheduled appointment
          to notify us of any changes or cancellations. If prior notification is
          not given, you will be charged the FULL FEE for the missed
          appointment. Cancellation by Facebook will not be considered. Please
          note that if you simply do not show up to your appointment, or if you
          cancel at very short notice, we may also require pre-payment of future
          appointments and you will no longer be able to use our generous
          rewards points system.
        </p>
      </div>
    </div>
  </div>
  <div class="footer-section">
    <div class="container">
      <div class="copyright">
        <p class="small m-0">
          Copyright © {{ 'now' | date: "%Y" }} {{ site.title }}. {{
          site.description | escape }}
        </p>
      </div>
    </div>
  </div>

  {% asset main.js %} {% include instafeed.html %}
  <script src="https://widgets.healcode.com/javascripts/healcode.js"></script>
</footer>
