<footer class="footer bg-dark text-light">
  <div class="footer-section social-links">
    <div class="container">
      <span class="mr-2">Follow us: </span>
      <a href="{{ site.facebook-link }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-inverse text-light"></i>
          <i class="fa fa-facebook fa-stack-1x text-dark"></i>
        </span>
      </a>
      <a href="{{ site.twitter-link }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-inverse text-light"></i>
          <i class="fa fa-twitter fa-stack-1x text-dark"></i>
        </span>
      </a>
      <a href="{{ site.instagram-link }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-inverse text-light"></i>
          <i class="fa fa-instagram fa-stack-1x text-dark"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="footer-section">
    {% include footer-main.html %}
  </div>
  <div class="footer-section">
    <div class="container">
      <div class="copyright">
        <p class="small m-0">Copyright © {{ 'now' | date: "%Y" }} {{ site.title }}. {{ site.description | escape }}</p>
      </div>
    </div>
  </div>
  {% asset main.js %}
</footer>
