<nav class="navbar navbar-expand-md navbar-light bg-white text-center text-dark">
    <a class="navbar-brand d-inline d-md-none" href="/">{% asset 'logo.png' height="60" %}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto mx-auto">
      <li class="nav-item {% if page.url == "/about/" %}active{% endif %}">
        <a class="nav-link h4" href="/">About Us</a>
      </li>
      <li class="nav-item mr-3 pr-1 {% if page.url == "/menu/" %}active{% endif %}">
        <a class="nav-link h4" href="#">Menu</a>
      </li>
      <a class="navbar-brand d-none d-md-inline" href="/">{% asset 'logo.png' height="110" %}</a>
      <li class="nav-item {% if page.url == "/news/" %}active{% endif %}">
        <a class="nav-link h4" href="#">News</a>
      </li>
      <li class="nav-item {% if page.url == "/contact/" %}active{% endif %}">
        <a class="nav-link h4" href="#">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
