<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{% asset ipswich-massage-logo.png height=75 %}</a>
  <button class="navbar-toggler" type="button}" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% assign url = page.url %}
            {% for page in site.navigation %}
              {% if page.dropdown == true %}
                <li class="nav-item dropdown">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true">
                    {{ page.name }}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in page.items %}
                      <a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a>
                    {% endfor %}
                  </div>
                </li>

              {% else %}

                <li {% if url == page.url %} class="nav-item active"{% else %} class="nav-item"{% endif %} >
                  <a href="{{ page.url }}" class="nav-link">{{ page.name }}</a>
                </li>

              {% endif %}
            {% endfor %}
    </ul>
    <span class="navbar-text d-none d-md-inline">
      <p><i class="fas fa-phone"></i> 3281 6007</p>
      <p><i class="fas fa-envelope"></i> enquiry@ipswichmassage.com</p>
      <p><i class="fas fa-map-signs"></i> Address</p>
    </span>
  </div>
</nav>
