<section class='bg-white' id="about">
    <div class='container'>
        <div class='row py-8 d-flex align-items-center'>
            <div class='col-lg-5'>
                {% asset 'story-image.png' class='ccd-story-image' alt='story image' %}
            </div>
            <div class='col-12 col-lg-7 text-center'>
                {% asset 'icons/colombia.svg' height='50' width='50' class='mx-auto' alt='coffee cup' %}
                <h3 class="ccd-section-title py-4">Our Story</h3>
                <p>
                    I grew up in the countryside in Colombia and could still remember my experience as a child
                    visiting my uncles, aunt and playing with my cousins at the “cafetales” (Spanish for coffee
                    plantation) which were part of their daily livelihoods. Vivid in my mind are the odour of the
                    cafetal, the sweet flavour of coffee cherries, and the sound of coffee beans being dried and
                    stirred on the ground under the sun (common practice back then), and the smell of freshly
                    roasted coffee beans.
                </p>
                <p>
                    Colombian coffee is all about a great cup, a nice conversation, with nice latin music in the
                    background to complement the atmosphere to bring a great coffee experience.
                </p>
                <p>
                    We work directly with farmers in Colombia where we cooperate with each other to trial and
                    share best practises to ensure the whole process is sustainable, and the quality is never
                    compromised.
                </p>
                <p><i>- Leidy Cuervo Rojas, Founder and Coffee Genius</i></p>
            </div>
        </div>
    </div>
</section>
