<section class='bg-light'>
    <div class='container text-center py-4'>
        <div class='row pt-4'>
            {% asset 'icons/lotus.svg' height='50' width='50' class='mx-auto' alt='Lotus Flower Icon' %}
        </div>
        <h2 class='ims-section-title pt-4'>YOUR WELLBEING EXPERTS</h2>
        <div class='container py-4'>
            <div class='col-12 copl-md-8 col-lg-8>'>
                <p> Philosophy at Ipswich Massage and Herbal Spa follows a healthy living philosophy that takes its inspiration from nature.</p>
                <p>We propose that tranquility need not to be found in any specific location but with the right tools, it can be discovered within oneself, by exploring body, mind and spirit.</p>
                <p>We embrace lifelong learning and development, our company never wanting to be everything to everybody, but instead offering only the very best to an exacting few.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-outline-light">See our Therapies</button>
    </div>
    <div class='container py-4'>
        <div class='row'>
            {% include box.html
                image="therapies/osteopathy.png"
            %}
            {% include box.html
                image="therapies/accupuncture.png"
            %}
            {% include box.html
                image="therapies/corpmassage.png"
            %}
            {% include box.html
                image="therapies/spa.png"
            %}
            {% include box.html
                image="therapies/bed.png"
            %}
            {% include box.html
                image="therapies/spa2.png"
            %}
        </div>
</section>
