<section class='bg-white'>
  <div class='container py-5'>
    <h2 class='ims-section-title text-center'>See our Package Specials</h2>
    <div class='row pt-4'>
        {% asset 'icons/therapy.svg' height='50' width='50' class='mx-auto' alt='Lotus Flower Icon' %}
    </div>
    <div class="pt-5">
        <div class='row'>
            {% include box-2.html
                title="Total Relaxation Package"
                description="Total relaxation for the mind and body!! This full body massage and blissful head massage combination.  Topped off with our signature facial you will not only feel amazing but you will look it too!"
                special_price="150.00"
                link='<healcode-widget data-version="0.2" data-link-class="" data-site-id="50224" data-mb-site-id="23881" data-type="pricing-link" data-inner-html="Buy Now" data-service-id="504"></healcode-widget>'
            %}
            {% include box-2.html
                title="Total Body Package"
                description="Total relaxation for the mind and body!! This full body massage and blissful head massage combination.  Topped off with our signature facial you will not only feel amazing but you will look it too!"
                special_price="150.00"
                link='<healcode-widget data-version="0.2" data-link-class="" data-site-id="50224" data-mb-site-id="23881" data-type="pricing-link" data-inner-html="Buy Now" data-service-id="478"></healcode-widget>'
            %}
            {% include box-2.html
                title="Make Me Over Package"
                description=" A complete make over and a totally divine package that will leave you looking and feeling fabulous from top to toe.  Eye Brow wax / shape and tint, eye lash tint.  60 min facial customized to suit your concerns and a deeply hydrating treatment on your hands and feet."
                special_price="99.00"
                link='<healcode-widget data-version="0.2" data-link-class="" data-site-id="50224" data-mb-site-id="23881" data-type="pricing-link" data-inner-html="Buy Now" data-service-id="551"></healcode-widget>'
            %}
            {% include box-2.html
                title="Cool Peel Package"
                description="Total relaxation for the mind and body!! This full body massage and blissful head massage combination.  Topped off with our signature facial you will not only feel amazing but you will look it too!"
                special_price="279.99"
                link=''
            %}
            {% include box-2.html
                title="Gentleman's Spa Package"
                description=" The perfect gift for any man! A one hour massage completed with a herbal back scrub and followed with a long soak in the spa with a refreshment. Say I love you!"
                special_price="101.64"
                link=''
            %}
        </div>
    </div>
    </div>
</section>
