<section class='bg-light'>
    <div class'container'>
        <div class='row py-4'>
            {% asset 'icons/coffee-cup.svg' height='50' width='50' class='mx-auto' alt='coffee cup' %}
        </div>
        <h2 class='mt-4 ccd-section-title text-center pb-5'>PASSION FOR AUTHENTIC COLOMBIAN COFFEE AND FOOD</h2>
        <div class='container'>
            <div class='col-12 copl-md-8 col-lg-8>'>
                <p> We are The Colombian Coffee Dealer, passionate for coffee and focus on
                    bringing you the best flavour from Colombia. How we do it? We are
                    producers, so we know what we are talking about!
                </p>
                <p>
                    Our coffee is Single Origin, that means our coffee is pure, there are no
                    blended beans to altering the flavour, being simple… is the real
                    Colombian coffee taste.
                </p>
                <p>
                    We believe the experience of having a coffee is more than just grabbing a
                    cup of coffee… Indulge your senses through the taste and aroma to
                    discover a huge range of flavours. Match this with some Latin music, then
                    it’s perfect! Let’s active your senses! Grab your coffee, feel the aroma,
                    appreciate the taste, listen to some music, relax and enjoy.
                </p>
            </div>
        </div>
    </div>
    <div class='container py-4'>
        <div class='row'>
            {% include box.html
                image="coffee-beans.png"
            %}
            {% include box.html
                image="coffee-and-plant.png"
            %}
            {% include box.html
                image="coffee-pour.png"
            %}
            {% include box.html
                image="burger-grill.png"
            %}
            {% include box.html
                image="burger-buns.png"
            %}
            {% include box.html
                image="burger-ingredients.png"
            %}
        </div>
</section>
