<section class='bg-light' id="contact">
    <div class='container text-center py-5'>
        <h1 class='ims-section-title'>Come Visit Us</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.0601985659673!2d153.0233585153752!3d-27.467385182891984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a033ba46699%3A0x343c0719b28306ae!2sThe+colombian+Coffee+Dealer!5e0!3m2!1sen!2sau!4v1518434485420" height="450" frameborder="0" style="border:0" allowfullscreen class='ccd-map py-5'></iframe>
    </div>
    <div class='container'>
        <h1 class='ims-section-title text-center pb-5'>Get In Touch</h1>
        <form netlify>
              <div class="row">
                <div class="col-12 py-2 col-md-4">
                  <input type="text" placeholder="Name" name="Name" class="form-control">
                </div>
                <div class="col-12 py-2 col-md-4">
                  <input type="email" placeholder="Email" name="Email" class="form-control">
                </div>
                <div class="col-12 py-2 col-md-4">
                  <input type="text" placeholder="Phone" name="Phone" class="form-control">
                </div>
              </div>
              <div class="row mt-2 mt-lg-4">
                <div class="col-12">
                  <textarea class="form-control" placeholder="Your Message" name="message" rows="3"></textarea>
                </div>
              </div>
              <div class="row mt-4 pb-3 text-center">
                <div class="col">
                  <button type="submit" class="btn btn-primary btn-outline-light btn-xl">Submit</button>
                </div>
              </div>
        </form>
    </div>
</section>
