<div id="instafeed">
</div>
{% assign specialimage = '{{image}}' %}
{% assign speciallink = '{{link}}' %}
{% assign specialcaption = '{{caption}}' %}
{% assign speciallikes = '{{likes}}' %}
<script type="text/javascript">
  var userFeed = new Instafeed({
    //See http://instafeedjs.com/ for formatting
    get: 'user',
    userId: '',
    clientId: '',
    accessToken: '',
    resolution: 'standard_resolution',
    sortBy: 'most-recent',
    limit: ,
    template: ''
  });
  userFeed.run();
</script>
