<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
{% assign specialimage = '{{image}}' %}
{% assign speciallink = '{{link}}' %}
{% assign specialcaption = '{{caption}}' %}
{% assign speciallikes = '{{likes}}' %}
<script type="text/javascript">
  var userFeed = new Instafeed({
    //See http://instafeedjs.com/ for formatting
    get: 'user',
    userId: '426765373',
    clientId: 'f8f3e1fbd733454189c5d3686016fa7b',
    accessToken: '426765373.f8f3e1f.27847c45ca4c4b49bc1cfadb68b9ef10',
    resolution: 'standard_resolution',
    sortBy: 'most-recent',
    limit: 6,
    template: '<div class=\"px-1 insta-text\">' +
                '<a href=\"{{ speciallink }}\">' +
                '<img class=\"insta-img\" src=\"{{ specialimage }}\" alt=\"instagram image\">' +
                '<\/a>' +
                '<\/div>',
  });
  userFeed.run();
</script>
