<section class="bg-light">
    <div class="fdb-block bg-white">
        <div class="container py-4">
            <h2 class="ims-section-title text-center">
                Are you new to Ipswich Massage?
            </h2>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <p class="text-h3">
                        <strong>
                            Receive 10% off your first visit by getting in contact with us
                                                                      through the button below</strong>
                    </p>

                    <p class="">
                        <a class="btn btn-primary text-dark btn-outline-light" href="/first-visit-signup/">Get in contact</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
