<section class="pb-5 team-8">
    <div class="container">
      <div class="row text-center justify-content-center py-5">
          <h1 class='ims-section-title'>Our Amazing Team</h1>
          <p>Intuitive and empowering, Ipswich Massage & Herbal Spa’s expert holistic health therapists follow our consultative approach, which allows for results that are of real value to each individual they encounter. For these reasons, we only work with the best practitioners in holistic health, drawing talent from all over the world.</p>
      </div>

      <div class="row-100"></div>

      <div class="row justify-content-center text-left">
        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col">
              <h3><strong>Sonja Glinster</strong></h3>
              <p class="h5">CEO</p>

              <p>B Bus Hons</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col">
              <div class='col mr-auto'>
              <h3><strong>Dr Hui Xu</strong></h3>
            </div>
              <p class="h5">Chinese Doctor</p>
              <p>BMed, MD, PhD, Adv Dip Acupuncture- Accepts all health funds except Bupa and HCF</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-70"></div>

      <div class="row justify-content-center text-left">
        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col-8">
              <h3><strong>Dr Paul Gray</strong></h3>
              <p class="h5">Osteopath</p>

              <p>DO;ACU; Macert Nat Osteopath. Accepts all health funds, Dr referrals for care plans and Department of Veterans Affairs gold and white cards</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col-8">
              <h3><strong>Jing Li</strong></h3>
              <p class="h5">Traditional Chinese Medicine</p>

              <p>Acupuncture and Remedial massage.  Accepts all health funds</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-70"></div>
      <div class="row justify-content-center text-left">
        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col-8">
              <h3><strong>Frank Lloyd</strong></h3>
              <p class="h5">Remedial Massage Therapist</p>

              <p>Dip remedial massage – currently accepts all health funds except Medibank and HCF</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col">
              <h3><strong>Nicola Alison</strong></h3>
              <p class="h5">Remedial Massage Therapist</p>

              <p>Dip Remedial massage.  Accepts all health funds except Medibank and HCF</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-70"></div>
      <div class="row justify-content-center text-left">
        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col-8">
              <h3><strong>Kylie Menner</strong></h3>
              <p class="h5">Beauty Therapist</p>

              <p>Diploma of Beauty and Eviron Specialist</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 team-member">
          <div class="row align-items-center">
            <div class="col-8">
              <h3><strong>Lisa O’Brien</strong></h3>
              <p class="h5">Remedial massage therapist</p>

              <p>Accepts all health funds</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-70"></div>
      <div class="row-70"></div>
      <div class="row text-left">
        <div class="col-sm-6 team-member">
          <div class="row">
            <div class="col-8">
              <h3><strong>Sophie Antonidas</strong></h3>
              <p class="h5">Remedial massage therapist</p>

              <p>accepts all health funds</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-70"></div>


    </div>
  </section>
