// place your custom site scss here

$icon_colour: #c79532;
$jade_green: #c9ded4;
.bg-primary {
  background-color: $jade_green !important;
}
// Custom Logo centered navbar
body {
  font-size: 100%;
  font-family: "Nanum Gothic", sans-serif;
  a {
    color: #33a06d;
  }
}
.healcode-pricing-option-text-link {
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration-style: white !important;
  }
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: $jade_green;
  margin: 0 0.5em 0.5em 0;
  font-size: 1rem;
  padding: 0.5rem;
  color: #000;
}
.bg-primary {
  background-color: $jade_green !important;
}

.navbar {
  @media (max-width: 576px) {
    text-align: left !important;
    .navbar-collapse {
      padding-bottom: 1.3rem;
    }
  }
}
#navbar-primary .navbar-nav {
  //  background: #ededed;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
.jade-green {
  color: $jade_green;
}
.bg-jade-green {
  background-color: $jade_green;
}
.package-title {
  font-weight: 900;
}
//Custom navbar styling that create a jade grene hover and underline effect on large screens
.nav-item {
  padding-bottom: 2px;
  @media (max-width: 576px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  > .nav-link:hover {
    color: $jade_green !important;
    @media (min-width: 992px) {
      border-bottom: 2px $jade_green solid !important;
    }
  }
}
.nav-item:hover {
  @media (min-width: 992px) {
    padding-bottom: 0px;
  }
}

.navbar-text {
  > p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}

//home banner styling for a full page effect
.home-banner {
  width: 100vw;
}

//Box grid styling
.box-link {
  width: 100%;
  height: 315px;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: $jade_green;
}
.box-link:hover .box-link-img {
  opacity: 0.2;
}

.box-link:hover .box-middle {
  opacity: 1;
}
.box-text {
  a {
    color: #fff !important;
  }
  color: #fff !important;
  padding: 16px 32px;
}

.box-link-img {
  height: 315px;
  width: 100%;
  border: 2px solid white;
  opacity: 0.4;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.box-middle {
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Section title style
.ims-section-title {
  font-family: "Nanum Myeongjo", serif;
}

//story section styling
.ccd-story-image {
  width: 100%;
  object-fit: fill;
  @media (max-width: 576px) {
    display: none;
  }
}

//Custom Menu styling
.ccd-menu-item-price {
  float: right;
}

//Map styling
.ccd-map {
  min-width: 80%;
  width: auto;
}

//instafeed styling
.instafeedContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#instafeed {
  width: 100vw;

  a {
    position: relative;
    width: 50%;

    @media (min-width: 992px) {
      width: 25%;
    }

    img {
      display: block;
      width: auto;
      height: 100%;
      max-height: 300px;
    }
  }
}
.insta-text {
  font-family: "Helvetica Neue", sans-serif;
  display: inline-block;
}

#insta-user {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold;
  font-weight: 900;
}

//coffe info styling
.ccd-info-img {
  max-width: 300px;
  height: auto;
}

//blog
.blog-image {
  width: 100%;
  height: auto;
}
.blog-section {
  padding-top: 2em;
  padding-bottom: 2em;
}
.blog-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.bg-about-split {
  background-color: $jade_green;
}

.award-box {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.team-member {
  padding: 2rem;
}

.footer {
  a {
    color: black;
  }
  .footer-section {
    border-bottom: 1px solid #3e4954;
    padding: 1.25rem 0;
  }
  .social-links {
    a,
    i {
      transition: 0.2s;
    }
    a:hover {
      text-decoration: none;
      i.fa-circle {
        color: $jade_green !important;
      }
      i.fa-stack-1x {
        color: white !important;
      }
    }
  }
}

.big-small {
  @media (min-width: 768px) {
    max-width: 45vw;
  }
}

.container-fluid {
  overflow: scroll !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
}

.box-before,
.box-after {
  width: 100px;
  top: 0;
  bottom: 0;
}

.box-before {
  left: 0;
}

.box-after {
  right: 0;
}

.package-title {
  text-decoration: underline;
  text-decoration-color: white;
}

.review-logo {
  max-height: 100px !important;
}
