// place your custom site scss here

$icon_colour: #C79532;
$jade_green: #c9ded4;
// Custom Logo centered navbar
body {
  font-size: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $jade_green;
}
.bg-primary {
  background-color: $jade_green !important;
}

.navbar{
    @include media-breakpoint-down(md) {
        text-align: left !important;
    }
}
#navbar-primary .navbar-nav {
//  background: #ededed;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

//Custom navbar styling that create a jade grene hover and underline effect on large screens
.nav-item {
    padding-bottom: 2px;
    @include media-breakpoint-down(md) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    > .nav-link:hover {
        color: $jade_green !important;
        @include media-breakpoint-up(lg) {
          border-bottom: 2px $jade_green solid !important;
        }
    }
}
.nav-item:hover {
  @include media-breakpoint-up(lg) {
    padding-bottom: 0px;
  }
}

.navbar-text {
  > p {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
}


//home banner styling for a full page effect
.home-banner {
    width: 100vw;
}


//Box grid styling
.ccd-box-item {
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: $jade_green
}
.ccd-box-item:hover .ccd-box-img {
  opacity: 0.3;
}

.ccd-box-item:hover .box-middle {
  opacity: 1;
}
.box-text {
  background-color: $jade_green;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.ccd-box-img {
    width: 100%;
    border: 2px solid white;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.box-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

//Section title style
.ims-section-title {
    font-family: 'Nanum Myeongjo', serif;
}

//story section styling
.ccd-story-image {
    width: 100%;
    object-fit: fill;
    @include media-breakpoint-down(md) {
        display: none;
    }
}


//Custom Menu styling
.ccd-menu-item-price {
	float: right;
}

//Map styling
.ccd-map {
    min-width: 80%;
    width: auto;
}

//instafeed styling
#instafeed {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;

  a {
    position: relative;
    width: 50%;

    @include media-breakpoint-up(lg) {
      width: 25%
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
.insta-text {
	font-family: 'Helvetica Neue',sans-serif;
}

#insta-user {
	font-family: 'Helvetica Neue',sans-serif;
	font-style: bold;
	font-weight: 900;
}

//coffe info styling
.ccd-info-img {
    max-width: 300px;
    height: auto;
}

//blog
.blog-image {
	width: 100%;
	height: auto;
}
.blog-section {
	padding-top: 2em;
	padding-bottom: 2em;
}
.blog-container {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.bg-about-split {
  background-color: $jade_green;
}

.award-box {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}

.team-member {
  padding: 2rem;
}

.footer {
	a {
		color: black;
	}
	.footer-section {
	    border-bottom: 1px solid #3e4954;
	    padding: 1.25rem 0;
	}
	.social-links {
		a,i {
			transition: 0.2s;
		}
		a:hover {
			text-decoration: none;
			i.fa-circle {
				color: $jade_green !important;
			}
			i.fa-stack-1x {
				color: white !important;
			}
		}
	}
}
